*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

button{
    background: crimson;
    color: black;
    padding: 7px 4px;
    border-radius: 50px;
}

/* div{
    background-color: black;
    color: burlywood;
} */

body{
    background-color: black;
    color: brown;
}